:deep(.n-card) {
  background-color: transparent !important;
}

:deep(.n-data-table) {
  background-color: transparent !important;
}

:deep(.n-data-table-wrapper) {
  background-color: transparent !important;
}

:deep(.n-page-header__title) {
  color: #e5e7eb !important;
}

:deep(.n-card-header__main) {
  color: #e5e7eb !important;
}

/* Pagination info 스타일 */
:deep(.n-pagination-item) {
  border-color: var(--accent-color)!important;
  background-color: transparent !important;
}


:deep(.n-pagination-item--button:hover) {
  background-color: var(--accent-color-10) !important;
  border-color: var(--accent-color) !important;
  
}

:deep(.n-pagination-item.n-pagination-item--active) {
  border-color: var(--accent-color) !important;
  color: var(--accent-color) !important;
}

:deep(.n-pagination-item--button:not(.n-pagination-item--disabled):hover) {
   color: var(--accent-color) !important;
   border-color: var(--accent-color) !important;
}

/* N-Input 스타일 */
:deep(.n-input) {
  --n-border: 1px solid var(--accent-color) !important;
  --n-border-hover: 1px solid var(--accent-color) !important;
  --n-border-focus: 1px solid var(--accent-color) !important;
  --n-border-disabled: 1px solid var(--accent-color) !important;
  --n-box-shadow-focus: 0 0 0 2px var(--accent-color-20) !important;
  --n-caret-color: var(--accent-color) !important;
 
}
:deep(.n-select .n-base-selection) {
  --n-border: 1px solid var(--accent-color) !important;
  --n-border-hover: 1px solid var(--accent-color) !important;
  --n-border-focus: 1px solid var(--accent-color) !important;
  --n-border-active: 1px solid var(--accent-color) !important;
  --n-box-shadow-focus: 0 0 0 2px var(--accent-color-20) !important;
  --n-box-shadow-active: 0 0 0 2px var(--accent-color-20) !important;
  --n-caret-color: var(--accent-color) !important;
  --n-arrow-color: var(--accent-color) !important;
  --n-color: transparent !important;
  --n-color-active: transparent !important;
}



